{% extends 'base.html' %}
{% load translate_tags %}
{% block title %}Resources{% endblock %}
{% block content %}
<div class="page-header">
  <h2><i class="bi bi-box-seam me-2 text-primary"></i>{{ 'Resource Repository'|tr:preferred_language }}</h2>
</div>
<div class="card">
  <div class="card-header-custom">
    <h5>{{ 'All Resources'|tr:preferred_language }}</h5>
    <a href="{% url 'resource_create' %}" class="btn btn-success btn-sm"><i class="bi bi-plus-circle me-1"></i>{{ 'Add Resource'|tr:preferred_language }}</a>
  </div>
  <div class="p-0">
    <table class="table-custom">
      <thead><tr><th>#</th><th>{{ 'Name'|tr:preferred_language }}</th><th>{{ 'Type'|tr:preferred_language }}</th><th>{{ 'Qty'|tr:preferred_language }}</th><th>{{ 'Unit Cost'|tr:preferred_language }}</th><th>{{ 'Status'|tr:preferred_language }}</th><th>{{ 'Action'|tr:preferred_language }}</th></tr></thead>
      <tbody>
        {% for r in resources %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ r.name }}</td>
          <td>{{ r.get_resource_type_display }}</td>
          <td>{{ r.quantity }}</td>
          <td>₹{{ r.unit_cost }}</td>
          <td><span class="badge-status badge-{{ r.status }}">{{ r.get_status_display }}</span></td>
          <td>
            <a href="{% url 'resource_edit' r.pk %}" class="btn-edit"><i class="bi bi-pencil"></i></a>
            <a href="{% url 'resource_delete' r.pk %}" class="btn-del"><i class="bi bi-trash"></i></a>
          </td>
        </tr>
        {% empty %}<tr><td colspan="7" class="text-center text-muted py-3">{{ 'No resources yet.'|tr:preferred_language }}</td></tr>{% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
